.checkout__product {
  display: flex;
  justify-content: space-between;
}

.checkout__productInfo,
.qtn,
.price {
  display: flex;
  align-items: center;
  margin: 0.25rem 1rem;
  svg {
    cursor: pointer;
  }
}
.checkout__productInfo {
  flex: 0.7;
  padding: 0.2rem;
  justify-content: space-between;
  border: 1.5px solid #ddd;
  box-shadow: 1px 1px rgb(221, 221, 221);
}
.checkout__productInfoVal {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
.qtn__val {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  border: 1.5px solid #ddd;
  box-shadow: 1px 1px rgb(221, 221, 221);
}
